.clr-body-bg {
  background-color: $clr-body-bg;
}

.clr-primary {
  color: $clr-primary;
}

.clr-primary-bg {
  background: $clr-primary-bg;
}

.clr-secondary {
  color: $clr-secondary;
}

.clr-secondary-bg {
  background: $clr-secondary-bg;
}

.clr-white {
  color: $clr-white;
}

.border-r-4 {
  border-radius: 4px;
}

.border-r-16 {
  border-radius: 16px;
}

.border-none {
  border: none;
}