.clr-primary {
    color: $clr-primary;
  }
  
  .clr-secondary {
    color: $clr-secondary;
  }

  a.clr-underline {
    text-decoration-color: $clr-secondary;
  } 

  .clr-body-bg {
    background-color: $clr-body-bg;
  }
