// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font sizes
$text-base: 1rem !default;
$text-sm: $text-base * 0.75 !default;
$text-lg: $text-base * 1.5 !default;
$text-xl: $text-base * 6 !default;

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 11px;
}

.text-sm {
  font-size: 12px;
}

.text-lg {
  font-size: $text-lg;
}
.text-xl {
  font-size: $text-xl;
}
.font-bold {
  font-weight: 700;
}
