// Generate utility classes
@each $key, $value in $spacers {
  .gap-#{$key} {
    gap: #{$value};
  }

  .p-#{$key} {
    padding: #{$value};
  }

  .pt-#{$key} {
    padding-top: #{$value};
  }

  .pb-#{$key} {
    padding-bottom: #{$value};
  }

  .pl-#{$key} {
    padding-left: #{$value};
  }

  .pr-#{$key} {
    padding-right: #{$value};
  }

  .px-#{$key} {
    padding-left: #{$value};
    padding-right: #{$value};
  }

  .py-#{$key} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }

  // margin
  .m-#{$key} {
    margin: #{$value};
  }

  .mt-#{$key} {
    margin-top: #{$value};
  }

  .mb-#{$key} {
    margin-bottom: #{$value};
  }

  .ml-#{$key} {
    margin-left: #{$value};
  }

  .mr-#{$key} {
    margin-right: #{$value};
  }

  .mx-#{$key} {
    margin-left: #{$value};
    margin-right: #{$value};
  }

  .my-#{$key} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

}