<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/png" href="/assets/favicon.png"/>
{% include 'title-and-meta.njk' %}
{%- set main %}{%- include "./style.css" -%}{% endset %}
<style>
{{- main | cssmin | safe -}}
</style>
{%- if css_include %}
<link rel="stylesheet" href="{{ css_include }}"/>
{% endif -%}
{%- if js_include %}
<script src="{{ js_include }}"></script>
{% endif -%}
</head>
<body class="clr-body-bg">
<div class="wrapper">
{% include 'header.njk' %}
<main class="container mb-80">
{{ content | safe }}
</main>
</div>
{% include 'footer.njk' %}
</body>
</html>