<nav class="flex gap-8 mb-24">
{%- if tag == "graphic-design-post" %} <a href="/blog/{{ categorySlug }}">{{ categoryName }}</a>{% endif %}
{%- if tag == "web-design-post" %} <a href="/blog/web-design/">Web Design</a>{% endif %}
{%- if tag == "web-development-post" %} <a href="/blog/web-development/">Web Development</a>{% endif %}
 <span>»</span>
</nav>
