<section class="flex gap-12 mb-12">
<nav class="flex gap-8 items-center">
<a href="/blog/">Blog</a><span>»</span></nav>
{%- if tag == "blog-page" %} 
<h1 class="mb-0">Recent Blog Posts</h1>
{%- endif -%}
{%- if tag == "graphic-design-page" %}<h1 class="mb-0">Latest Graphic Design Posts</h1>{%- endif -%}
{%- if tag == "web-design-page" %}<h1 class="mb-0">Latest Web Design Posts</h1>{%- endif -%}
{%- if tag == "web-development-page" %}<h1 class="mb-0">Latest Web Development Posts</h1>{%- endif -%}
</section>