{%- if tag == 'blog-page' -%}
<p class="mb-40">Fusce molestie quis ligula sed lobortis. Suspendisse sed mauris sed ligula aliquet sodales ac ut dui. Fusce dapibus volutpat tincidunt. Pellentesque non vestibulum diam. Nam nec risus ligula. Fusce maximus ultricies orci in dictum.</p>
{%- endif -%}
{%- if tag == 'graphic-design-page' -%}
<p class="mb-40">Fusce molestie quis ligula sed lobortis. Suspendisse sed mauris sed ligula aliquet sodales ac ut dui. Fusce dapibus volutpat tincidunt. Pellentesque non vestibulum diam. Nam nec risus ligula. Fusce maximus ultricies orci in dictum.</p>
{%- endif -%}
{%- if tag == 'web-design-page' -%}
<p class="mb-40">Fusce molestie quis ligula sed lobortis. Suspendisse sed mauris sed ligula aliquet sodales ac ut dui. Fusce dapibus volutpat tincidunt. Pellentesque non vestibulum diam. Nam nec risus ligula. Fusce maximus ultricies orci in dictum.</p>
{%- endif -%}
{%- if tag == 'web-development-page' -%}
<p class="mb-40">Fusce molestie quis ligula sed lobortis. Suspendisse sed mauris sed ligula aliquet sodales ac ut dui. Fusce dapibus volutpat tincidunt. Pellentesque non vestibulum diam. Nam nec risus ligula. Fusce maximus ultricies orci in dictum.</p>
{%- endif -%}
