<header class="container items-center flex pt-24 mb-80 justify-between">
<div class="logo">
<a href="/">Epic CSS - 11ty Theme</a>
</div>
<nav>
<ul class="flex gap-24 list-none">
<li><a href="/blog/" class="{{ 'active' if tag == "blog-page"}}">Blog</a></li>
<li><a href="/about/" class="{{ 'active' if tag == "about-page"}}">About</a></li>
<li><a href="https://github.com/jeremyfaucher/epic-css-11ty-theme">Github</a></li>
</ul>
</nav>
</header>