<header class="container items-center flex pt-24 mb-80 justify-between">
<div class="logo">
<a href="/">Epic CSS - 11ty Theme</a>
</div>
<nav>
<ul class="flex gap-24">
<li role="listitem"><a href="/blog/" class="{{ 'active' if tag == "blog-page"}}">Blog</a></li>
<li role="listitem"><a href="/about/" class="{{ 'active' if tag == "about-page"}}">About</a></li>
</ul>
</nav>
</header>