<div>
<a href="{{ post.url }}" class="flex mb-12"><img src="{{ post.data.featuredImage }}" alt="{{ post.data.imageAlt }}" width="484" height="242"></a>
<h3 class="fs-20 mb-8"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
<div class="fs-12 mb-16">by <span>{{ post.data.author }}</span> on <span>{{ post.date | postDate }}</span></div>
<p>{%- if (post.data.excerpt) -%}{{ post.data.excerpt }}{%- else -%}{{ post.templateContent | excerpt }}{%- endif -%}<a href="{{ post.url }}" class="read-more under--clr"> Read more...</a></p>
</div>
