<h2 class="mb-2"><a href="{{ post.url }}">{{ post.data.title }}</a></h3>
<div class="mb-24">by <span>{{ post.data.author }}</span> on <span>{{ post.date | postDate }}</span></div>
<p>{%- if (post.data.excerpt) -%}{{ post.data.excerpt }}{%- else -%}{{ post.templateContent | excerpt }}{%- endif -%}<a href="{{ post.url }}" class="read-more clr-underline pl-4">Read more...</a></p>
<div class="flex justify-end">
{%- if (tag == "tools-page") -%}
{%- else -%}
<a href="/blog/{{ post.data.categorySlug }}" class="clr-underline">{{ post.data.categoryName }}</a>
{%- endif -%}
</div>
