---
layout: "base.njk"
---
{%- if (full) -%}
    {% include 'breadcrumb-post.njk' %}
    <h1 class="fs-32 lh-32">{{ title }}</h1>
    <div>By: <a href="/about/" title="Posts by Jeremy Faucher" rel="author">{{ author }}</a> on {{ date | postDate }}</div>
    {{ content | safe }}
    {% include 'pagination.njk' %}
</section>
{%- else -%}
{% include 'breadcrumb-post.njk' %}
<h1 class="fs-32 lh-32 mb-4">{{ title }}</h1>
<div class="fs-12 lh-16 mb-16">By: <a href="/about/" title="Posts by admin" rel="author">{{ author }}</a> on {{ date | postDate }}</div>
<article class="mb-80">
    {%- if (postImage == true) -%}
        <img class="mb-12" src="{{ image }}" alt="{{ imageAlt }}" width="1000" height="500">
    {%- else -%}
    {%- endif -%}
    {{ content | safe }}
</article>
{% include 'pagination.njk' %}
</section>
{%- endif -%}