body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #d4d4d4;
  margin: 3px;
}
h1, h2, h3, h4, p, ul {
  margin-top: 0;
}
h1, .h1 {
  font-size: 32px;
  line-height: 48px;
}
h2, .h2 {
  font-size: 32px;
  line-height: 32px;
}
h3, .h3 {
  font-size: 28px;
  line-height: 28px;
}
article h2 {
  margin-bottom: 12px;
}
article p {
  margin-top: 0px;
  margin-bottom: 2rem;
}
article ul {
  padding-left: 3rem;
  list-style-type: circle;
  line-height: 2rem;
}
h3 {
  font-size: 28px;
  line-height: 28px !important;
}
ul {
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  text-underline-offset: 4px;
  color: #d4d4d4;
}
a:hover {
  text-decoration: underline;
}
a.underline-clr {
  text-decoration: underline;
}
a.underline-clr:hover {
  color: #f82fab;
}
.text-center {
  text-align: center;
}
.text-xs {
  font-size: 11px;
}
.text-sm {
  font-size: 12px;
}
.clr-primary {
  color: #3ccbd6;
}
.clr-secondary {
  color: #f82fab;
}
a.clr-underline {
  text-decoration-color: #f82fab;
}
.clr-body-bg {
  background-color: hsl(198, 64%, 11%);
}
img {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
}
img.img-center {
  display: block;
  margin: 0 auto;
}
img.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
article img {
  margin-bottom: 2rem;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-evenly {
  justify-content: space-evenly;
}
.content-start {
  align-content: flex-start;
}
.content-center {
  align-content: center;
}
.content-around {
  align-content: space-around;
}
.items-start {
  align-items: flex-start;
}
.items-center {
  align-items: center;
}
.items-around {
  align-items: space-around;
}
.flex-col {
  flex-direction: column;
}
@media (min-width: 820px) {
  .md-w-25 {
    width: 25%;
  }
  .md-w-50 {
    width: 50%;
  }
  .md-w-75 {
    width: 75%;
  }
}
.md-w-50 {
    width: 50%;
  }
@media (min-width: 820px) {
  .md-w-25 {
    width: 25%;
  }
  .md-w-50 {
    width: 50%;
  }
  .md-w-75 {
    width: 75%;
  }
}
.md-w-75 {
    width: 75%;
  }
@media (min-width: 0) {
  .xs-flex-row {
    flex-direction: row;
  }
}
.xs-flex-row {
    flex-direction: row;
  }
@media (min-width: 480px) {
  .sm-flex-row {
    flex-direction: row;
  }
}
.sm-flex-row {
    flex-direction: row;
  }
@media (min-width: 820px) {
  .md-flex-row {
    flex-direction: row;
  }
}
.md-flex-row {
    flex-direction: row;
  }
@media (min-width: 960px) {
  .lg-flex-row {
    flex-direction: row;
  }
}
.lg-flex-row {
    flex-direction: row;
  }
@media (min-width: 1200px) {
  .xl-flex-row {
    flex-direction: row;
  }
}
.xl-flex-row {
    flex-direction: row;
  }
@media (min-width: 900px) {
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-col-3 {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
.grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
@media (min-width: 900px) {
  .grid-col-2 {
    grid-template-columns: 1fr 1fr;
  }
  .grid-col-3 {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
}
.grid-col-3 {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
.grid {
  display: grid;
}
.flex-row {
  flex-direction: row;
}
.margin-auto {
  margin: 0 auto;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex {
  display: flex;
}
.wrapper {
  padding: 0 5%;
}
.container {
  margin: 0 auto;
  max-width: 1000px;
  box-sizing: border-box;
}
.container-post {
  margin: 0 auto;
  max-width: 1000px;
  box-sizing: border-box;
}
.gap-0 {
  gap: 0;
}
.mt-0 {
  margin-top: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.gap-4 {
  gap: 0.25rem;
}
.pl-4 {
  padding-left: 0.25rem;
}
.gap-6 {
  gap: 0.375rem;
}
.mb-6 {
  margin-bottom: 0.375rem;
}
.gap-8 {
  gap: 0.5rem;
}
.mb-8 {
  margin-bottom: 0.5rem;
}
.gap-10 {
  gap: 0.625rem;
}
.gap-12 {
  gap: 0.75rem;
}
.mb-12 {
  margin-bottom: 0.75rem;
}
.gap-16 {
  gap: 1rem;
}
.mb-16 {
  margin-bottom: 1rem;
}
.gap-18 {
  gap: 1rem;
}
.gap-20 {
  gap: 1.25rem;
}
.mb-20 {
  margin-bottom: 1.25rem;
}
.gap-24 {
  gap: 1.5rem;
}
.pt-24 {
  padding-top: 1.5rem;
}
.mb-24 {
  margin-bottom: 1.5rem;
}
.gap-32 {
  gap: 2rem;
}
.gap-40 {
  gap: 2.5rem;
}
.pl-40 {
  padding-left: 2.5rem;
}
.mb-40 {
  margin-bottom: 2.5rem;
}
.my-40 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}
.gap-56 {
  gap: 3.5rem;
}
.gap-60 {
  gap: 3.75rem;
}
.mb-60 {
  margin-bottom: 3.75rem;
}
.gap-64 {
  gap: 4rem;
}
.mb-64 {
  margin-bottom: 4rem;
}
.gap-80 {
  gap: 5rem;
}
.mb-80 {
  margin-bottom: 5rem;
}
.gap-100 {
  gap: 6.25rem;
}