// theme colors
$primary: #3ccbd6; //hsl(180deg 73% 69%) !default;
$secondary: #f82fab; //hsl(291, 78%, 45%) !default;
//$bg-color: #000000;

// borders
$base-border-thickness: 1px !default;
$base-border-radius: 20px !default;

// box-shadow
$base-box-shadow: 1px 3px 5px rgba(0,0,0,0.1) !default;

.clr-primary {
    color: $primary;
  }
  
  .clr-secondary {
    color: $secondary;
  }

  a.underline-clr {
    text-decoration-color: $secondary;
  } 

  .bg-color {
    background-color: #082027;
  }