// @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font sizes
$base-font-size: 1rem !default;
$font-size-sm: $base-font-size * 0.75 !default;
$font-size-lg: $base-font-size * 1.5 !default;
$font-size-xl: $base-font-size * 2 !default;
$font-size-xxl: $base-font-size * 3 !default;

// Headings
//
// Set the $h1-font-size variable
$h1-font-size: 32px;
$h2-font-size: 24px;
$h3-font-size: 20px;
$h4-font-size: 16px;

// Override Bootstrap heading variables
$headings-font-weight: 600;

// Custom line heights for headings
$h1-line-height: 40px;
$h2-line-height: 32px;
$h3-line-height: 28px;
$h4-line-height: 20px;

// Margin
$h2-margin-bottom: 12px;

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #d4d4d4;
  margin: 0px;
}

p {
  line-height: 24px;
}

.text-center {
  text-align: center;
}

.text-xs {
  font-size: 11px;
}

.text-sm {
  font-size: 12px;
}
// set base for browsers
h1, h2, h3, h4, p, ul {
  margin-top: 0;
}
h1, .h1 {
  font-size: $h1-font-size;
  line-height: $h1-line-height;
}

h2, .h2 {
  font-size: $h2-font-size;
  line-height: $h2-line-height;
}
h3, .h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height;
}
h4, .h4 {
  font-size: $h4-font-size;
  line-height: $h4-line-height;
}

article {

  h2 {
    margin-bottom: 12px;
  }

  p {
    margin-top: 0px;
    margin-bottom: 2rem;
  }
}

h3 {
  font-size: $h3-font-size;
  line-height: $h3-line-height !important;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  text-underline-offset: 4px;
  color: #d4d4d4;

  &:hover {
    text-decoration: underline;
  }

  &.underline-clr {
    text-decoration: underline;
  }
}

hr {
  border: 0;
  border-top: 1px dotted #efefef;
}