
img {
    max-width: 100%;
    height: auto;
    border-radius: 1rem;
    &.img-center {
      display: block;
      margin: 0 auto;
    }
  }

img.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  
  article img {
    margin-bottom: 2rem;
  }