@use 'sass:math';

// $spacer: 1rem;
// $spacers: (
//   0: 0,
//   4: $spacer * 0.375, // 4px between author name and author role
//   8: $spacer * 0.5, // 8px use between h1 and p
//   12: $spacer * 0.75, // 12px use between author role and socials
//   16: $spacer * 1, // 16px use between h2 with border
//   24: $spacer * 1.5, // 24px for under h2 bottom border and card padding
//   32: $spacer * 2, // 32px between pinned post and latest heading
//   40: $spacer * 2.5, // 40px homepage sidebar bump left
//   80: $spacer * 5,  // 80px between h1 and h2
//   118: $spacer * 7.375, // 104px for post left offset
//   186: $spacer * 11.625 // 192px for post content right padding
// );

// spacing
$base-gap: 1rem !default;
$base-padding: 1rem !default;
$base-margin: 1rem !default;

$utilities: (
  "gap": ("prefix": "gap",
    "values": ("0": 0,
      "2": $base-gap * 0.125,
      "4": $base-gap * 0.25,
      "8": $base-gap * 0.5,
      "12": $base-gap * 0.75,
      "24": $base-gap * 1.5,
      "32": $base-gap * 2,
      "40": $base-gap * 2.5,
      "80": $base-gap * 5),
  ),
  "padding": ("prefix": "p",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "padding-left": ("prefix": "pl",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "padding-right": ("prefix": "pr",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "padding-y": ("prefix": "py",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5)),
  "padding-x": ("prefix": "px",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5)),
  "padding-top": ("prefix": "pt",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "padding-bottom": ("prefix": "pb",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "margin": ("prefix": "m",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "margin-y": ("prefix": "my",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5)),
  "margin-left": ("prefix": "ml",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "margin-right": ("prefix": "mr",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "margin-top": ("prefix": "mt",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  ),
  "margin-bottom": ("prefix": "mb",
    "values": ("0": 0,
      "2": $base-padding * 0.125,
      "4": $base-padding * 0.25,
      "6": $base-padding * 0.375,
      "8": $base-padding * 0.5,
      "12": $base-padding * 0.75,
      "24": $base-padding * 1.5,
      "32": $base-padding * 2,
      "40": $base-padding * 2.5,
      "80": $base-padding * 5),
  )
);

// generate utility classes
@each $property, $map in $utilities {
  $prefix: map-get($map, "prefix");
  $values: map-get($map, "values");

  @each $k, $v in $values {
    @if $k =="default" {
      .#{$prefix} {
        #{$property}: $v;
      }
    }

    @else if $property =="padding-x" {
      .#{$prefix}-#{$k} {
        padding-left: $v;
        padding-right: $v;
      }
    }

    @else if $property =="padding-y" {
      .#{$prefix}-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @else if $property =="margin-y" {
      .#{$prefix}-#{$k} {
        padding-top: $v;
        padding-bottom: $v;
      }
    }

    @else {
      .#{$prefix}-#{$k} {
        #{$property}: $v;
      }
    }
  }
}