---
layout: 'base.njk'
tag: home-page
---
<section>
<div class="text-center margin-auto md-w-75 mb-80">
<h1 class="fs-32 lh-32 mb-24">Easy to manage & high performace.</h1>
<p><a href="https://epiccss.com" class="clr-underline">Epic CSS</a> is a utility-first UI library that only outputs the styles you use. <a href="https://github.com/jeremyfaucher/epic-css-11ty-theme" class="clr-underline">Clone the Epic CSS 11ty theme</a> from Github to see the future of the web.</p>
</div>
<div class="container flex flex-col md-flex-row gap-40 items-start mb-80">
{%- for post in collections.blog | reverse | limit_latest(1) -%}
  {% include 'post-latest.njk' %}
{%- endfor -%}
</div>
</section>
<section class="mb-80">
<div class="md-w-75">
<h2 class="fs-24 lh-24 mb-24">Typewriter wolf ugh shoreditch brunch tote bag.</h2>
<p>I'm baby hot chicken bitters irony thundercats etsy direct trade chillwave kickstarter truffaut unicorn crucifix shaman farm-to-table mixtape. Man braid wolf adaptogen chambray, irony chartreuse 90's shabby chic viral banjo live-edge.</p>
<p>Kitsch crucifix truffaut chia flexitarian quinoa, tbh health goth man braid tote bag ramps raclette helvetica craft beer squid. Kitsch air plant gochujang, wolf occupy tumeric umami art party taiyaki celiac mustache tweet adaptogen chambray, irony chartreuse.</p>
<p>Trust fund retro seitan knausgaard, leggings kale chips echo park meh. Glossier viral before they sold out hashtag taiyaki. Lo-fi 3 wolf moon vice cloud bread mixtape art party everyday carry taxidermy cronut raw denim put a bird on photo booth blog.</p>
</div>
</section>
<section class="mb-80">
<h2 class="mb-2">Recent Blog Posts</h2>
<p class="mb-24">YOLO pop-up synth fixie, slow-carb, fingerstache.</p>
<div class="grid grid-col-2 gap-32">
{%- for post in collections.blog | reverse | limit(5) -%}
  {% include 'post-summary.njk' %}
{%- endfor -%}
</div>
</section> 